<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>WeatherApp</title>
  </head>
  <body>
    <section>
      <h1>WeatherApp</h1>

      <form action="" id="weather-form">
        <input
          type="text"
          name="city"
          placeholder="Digite o nome da cidade"
          required
        />
        <button type="submit">Buscar</button>
      </form>

       <div id="result">Nehuma busca realizada.</div>

      <script src="main.js"></script>
    </section>
  </body>
</html>
