<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Controle de despesas</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Controle de despesas</h1>
      <form id="expense-form">
        <input type="text" id="description" placeholder="Descrição" required />
        <input
          type="number"
          id="amount"
          placeholder="Valor (R$)"
          min="0"
          step="0.01"
          required
        />
        <input type="date" id="date" />
        <button type="submit">Cadastrar despesa</button>
      </form>

      <ul id="expense-list"></ul>

      <h2 id="total"></h2>
    </div>

    <script src="script.js"></script>
  </body>
</html>
